[download_clim]

    [[content]]
    commandline=echo foo > {{ task.artifacts['clim_file'][0] }} || exit 1

    [[artifacts]]
        [[[clim_file]]]
        path={{ run_dir }}/clim.nc

[run_croco]

    [[content]]
    commandline="""
# - get the climatoogy
cp {{ workflow.get_task_artifact_paths('clim_file', 'download_clim') }} . || exit 1

{% if not cycle.is_first %}
# - get the restart from previous cycle
echo {{ task.name }} {{ cycle.prev }}
cp {{ workflow.get_task_artifact_paths('model_restart', task.name, cycle.prev)[-1] }} prev_croco_rst.nc || exit 1
{% endif %}

# - run the model
{% for path in task.artifacts['model_restart'] -%}
echo {{ task.name }} {{ cycle }} > {{ path }} || exit 1
{% endfor %}
"""

    [[artifacts]]
        [[[model_restart]]]
        path=gen_hourly_files
        callable=True
            [[[[kwargs]]]]
            path_format={run_dir}/croco_{time:%Y-%m-%d-%H-%M}.nc


[concat_nc]

    [[content]]
    commandline=echo concat {{ workflow.get_task_artifact_paths('model_restart', 'run_croco', flat=True)|join(' ') }} > {{ task.artifacts['merged'][0] }} || exit 1

    [[artifacts]]
        [[[merged]]]
        path={{ run_dir }}/merged.nc
